In [15]:
import pandas as pd
import numpy as np

In [16]:
data = pd.read_csv('data/imputed_variables.csv', index_col=0)
data.head()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,TotalSpent,Cabin_num,...,Cabin_deck_D,Cabin_deck_E,Cabin_deck_F,Cabin_deck_G,Cabin_deck_T,Cabin_deck_blank,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Destination_blank
0,0,39,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,24,0,109,9,25,549,44,736.0,0,...,0,0,1,0,0,0,0,0,1,0
2,0,58,1,43,3576,0,6715,49,10383.0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,33,0,0,1283,371,3329,193,5176.0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,16,0,303,70,151,565,2,1091.0,1,...,0,0,1,0,0,0,0,0,1,0

In [17]:
bill_columns = ['RoomService', 'FoodCourt', 'ShoppingMall', 'VRDeck', 'Spa', 'TotalSpent']
for bill in bill_columns:
    new_var = f'{bill}_zero'
    data[new_var] = np.where(data[bill] == 0, 1, 0)

data.head()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,TotalSpent,Cabin_num,...,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Destination_blank,RoomService_zero,FoodCourt_zero,ShoppingMall_zero,VRDeck_zero,Spa_zero,TotalSpent_zero
0,0,39,0,0,0,0,0,0,0.0,0,...,0,0,1,0,1,1,1,1,1,1
1,0,24,0,109,9,25,549,44,736.0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,58,1,43,3576,0,6715,49,10383.0,0,...,0,0,1,0,0,0,1,0,0,0
3,0,33,0,0,1283,371,3329,193,5176.0,0,...,0,0,1,0,1,0,0,0,0,0
4,0,16,0,303,70,151,565,2,1091.0,1,...,0,0,1,0,0,0,0,0,0,0